nav{
  height: 100px;
  width: auto;
  margin: 0 auto;
}

div.topimg{
  height: 150px;
  width: 1250px;
  margin: 0 auto;
  margin-bottom: 50px;
}

div.topimg img{
  background-color: #111;
  height: inherit;
  width: inherit;
}

div.mainimg img{
height: 200px;
width: auto;
margin: 0 auto;
}
