nav{
  height: 100px;
  width: 50%;
  margin: 0 auto;
}

div.topimg{
  height: 150px;
  width: 400px;
  margin: 0 auto;
  margin-bottom: 50px;
}

div.topimg img{
  background-color: grey;
  height: inherit;
  width: inherit;
}

div.mainimg{
height: 250px;
width: 1000px;
margin: 0 auto;
}

div.mainimg img{
height: inherit;
width: inherit;
}
